/* .body {
  margin: 0;
  height: 100%;
  text-align: center;
  background-color: #212121;
  display: flex;
  flex-direction: row-reverse;
}

.nav {
  background-color: black;
  flex-grow: 1;
} */

/* .article {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #B6EAFF;
} */