.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

input {
    margin: 10px;
}

.cotainerCountries {
    width: 250px;
    height: 250px;
    overflow: scroll;
}