.navbar {
    background-color: #3d5a80;
    display: flex;

}

ul {
    display: flex;
    text-decoration: none;
}

li {
    list-style: none;
    color: white;
    padding: 10px;
}

.active {
    font-size: 45px;
}